In [ ]:
# открываем базу
with con:
    # получаем количество таблиц с нужным нам именем
    data = con.execute("select count(*) from sqlite_master where type='table' and name='mus_s1'")
    for row in data:
        # если таких таблиц нет
        if row[0] == 0:
            
            # создаём таблицу для товаров
            with con:
                con.execute("""
                    CREATE TABLE goods (
                        product VARCHAR(20) PRIMARY KEY,
                        count INTEGER,
                        price INTEGER
                    );
                """)

In [20]:
import sqlite3 as sq
# открываем файл с базой данных
con = sq.connect('mus_schedule.db')
with con:
    con.execute("""
        CREATE TABLE IF NOT EXISTS mus_s1 (
           id PRIMARY KEY,
           date DATETIME,
           quantity INTEGER,
           contact INTEGER VARCHAR (13) UNIQUE

);
    """)

In [25]:
with con:
    data = con.execute("SELECT * FROM mus_s1")
    print(data)
    for row in data:
        print (row)

    con.execute("""INSERT INTO mus_s1 VALUES
                ('girl','24.02.2023','5','5688313550000')""")

<sqlite3.Cursor object at 0x00000231BD44F340>
('chuvak', '24.02.2023', 3, 153151381)
('boy', '24.02.2023', 7, 364563456)
('girl', '24.02.2023', 5, 5688313550000)

IntegrityError: UNIQUE constraint failed: mus_s1.id

In [26]:
con.close

In [18]:

cur.execute("""
        INSERT INTO movie VALUES
            ('Monty Python and the Holy Grail', 1975, 8.2),
            ('And Now for Something Completely Different', 1971, 7.5)
""")
#con.commit()
#res = cur.execute("SELECT score FROM movie")
#res.fetchall()

OperationalError: database is locked